<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="/public/js/main.js"></script>
<nav>
    <div class="nav-con">
        <div class="logo">
            <a href="/">TourinThai</a>
            <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div>
        </div>

        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/recommendation">Recommendation</a></li>
            <li><a href="/compare">Compare</a> </li>
            <li><a href="/rate-us">Rate us</a></li>
            <li><a href="/about_us">About us</a></li>
        </ul>

        <div class="header-btn">
            <form action="/search" method="GET" class="search-form">
                <input type="text" id="keyword" name="keyword" placeholder="Search for types of attraction..." class="search-input">
                <button type="submit" class="search-btn">
                    <i class="fas fa-search"></i>  <!-- FontAwesome Magnifying Glass Icon -->
                </button>
            </form>
        </div>
        
    </div>
</nav>